<h2 mat-dialog-title class="title">{{data.title}}</h2>
<div mat-dialog-content>
  <form [formGroup]="FormGroup" class="example-form col-12 float-left" enctype="multipart/form-data">
    <!-- <mat-form-field class="col-12 float-left" appearance="fill">
      <mat-label class="font-comp">Seleccione país</mat-label>
      <mat-select name="pais" class="font-comp"   formControlName="paisControl" cdkFocusInitial >
        <mat-option [value]="0" (click)="universidadOnChange(null)"> Seleccione...</mat-option>
        <mat-option *ngFor="let option of lstserv.lpaisNac" [value]="option.nIntCodigo" (click)="universidadOnChange(option)">
          {{ option.cIntDescripcion.toUpperCase() }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  class="example-full-width float-left col-12" >
      <mat-label class="font-comp">Institución</mat-label>
      <input (ngModelChange)="handleModelChange($event, 1)" name="institucion"   type="text" [matAutocomplete]="auto" matInput [formControl]="myControl" class="font-comp"  appLetras
      >

      <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let option of filteredOptions | async"  [value]="option.cPerNombre.toUpperCase()" (click)="customerOnChange(option, 1)" [displayWith]="displayFn"  class="font-comp">
          {{option.cPerNombre.toUpperCase()}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
    <mat-form-field class="example-full-width float-left col-12 font-comp">
      <mat-select placeholder="Seleccione país" formControlName="paisControl" cdkFocusInitial>
        <mat-select-filter [placeholder]="'Búsqueda de país'" [displayMember]="'cIntDescripcion'" [array]="lstserv.lpaisNac" (filteredReturn)="lstserv.filterpais =$event" class="font-comp"></mat-select-filter>
        <mat-option *ngFor="let item of lstserv.filterpais" [value]="item.nIntCodigo" (click)="universidadOnChange(item)" class="font-comp">
          {{item.cIntDescripcion.toUpperCase()}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  class="example-full-width float-left col-12" >
      <mat-label class="font-comp">Institución</mat-label>
      <input (ngModelChange)="handleModelChange($event, 1)" name="institucion"   type="text" [matAutocomplete]="auto" matInput [formControl]="myControl" class="font-comp"  appLetras
      >

      <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let option of filteredOptions | async"  [value]="option.cPerNombre.toUpperCase()" (click)="customerOnChange(option, 1)" [displayWith]="displayFn"  class="font-comp">
          {{option.cPerNombre.toUpperCase()}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field *ngIf="regProyecSoc.cLegProyInstitucion == clmdserv.codigonoinst" class="example-full-width" class="col-12 float-left">
      <mat-label class="font-comp">Nombre de institución</mat-label>
      <input matInput name="otra" maxlength="100" value="" class="col-l font-comp" formControlName="otraControl" required >
    </mat-form-field>
    <mat-form-field class="example-full-width" class="col-12 float-left">
      <mat-label class="font-comp">Proyecto</mat-label>
      <input matInput name="direccion" maxlength="50" value="" class="col-l font-comp" formControlName="proyectoControl" required >
    </mat-form-field>
      <mat-form-field class="col-12 float-left" appearance="fill">
        <mat-label class="font-comp">Participacion</mat-label>
        <mat-select name="tipoproy_for" class="font-comp" formControlName="tipopartControl" >
          <mat-option [value]="0" (click)="customerOnChange(null, 2)"> Seleccione...</mat-option>
          <mat-option *ngFor="let option of lstserv.lTipoParProy" [value]="option.nConValor" (click)="customerOnChange(option, 2)">
            {{ option.cConDescripcion.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-12 float-left">
        <mat-label class="font-comp">Fecha Inicio</mat-label>
        <!-- [min]="datepast" -->
        <input class="font-comp col-12" matInput [matDatepicker]="dpFechaI"  [formControl]="dateFechaInicio"   [max]="today" readonly />
        <mat-datepicker-toggle matSuffix [for]="dpFechaI"></mat-datepicker-toggle>
        <mat-datepicker #dpFechaI disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-12 float-left">
        <mat-label class="font-comp">Fecha Fin</mat-label>
        <!-- [min]="datepast" -->
        <input class="font-comp col-12" matInput [matDatepicker]="dpFechaF"  [formControl]="dateFechaFin"   [max]="today" readonly />
        <mat-datepicker-toggle matSuffix [for]="dpFechaF"></mat-datepicker-toggle>
        <mat-datepicker #dpFechaF disabled="false"></mat-datepicker>
      </mat-form-field>
    <mat-form-field class="col-12 float-left subir-2" appearance="standard">
      <mat-label>Adjuntar archivo(png, jpg, jpeg, pdf)</mat-label>
      <ngx-mat-file-input class="file-input" placeholder="Adjuntar archivo(png, jpg, jpeg, pdf)" (change)="fileProgress($event)" [accept]="'image/png, image/jpeg, application/pdf'"></ngx-mat-file-input>
      <mat-icon matSuffix>insert_photo</mat-icon>
      <small *ngIf="erradjunto"  id="adjuntoHelp" class="form-text text-muted msj-chk small-msj" ><i class="far fa-check-circle"></i> Se cargó imágen.</small>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="apbtn col-12 float-left">
  <button class="btn btn-sm btn-primary btn-uq" mat-button (click)="guardar($event)" >Aceptar</button>
  <button class="btn btn-sm btn-default btn-uq" mat-button (click)="configserv.onNoClickDialog(dialogRef)">Cancelar</button>
  <!-- cdkFocusInitial ->FOCUS -->
</div>
<app-mensaje></app-mensaje> <ngx-spinner></ngx-spinner>

