<h2 mat-dialog-title class="title">{{data.title}}</h2>
<div mat-dialog-content>
  <form class="example-form col-12 float-left" [formGroup]="FormGroup" enctype="multipart/form-data">

    <mat-form-field class="example-full-width float-left col-12 font-comp">
      <mat-select placeholder="Seleccione país" formControlName="paisControl" cdkFocusInitial>
        <mat-select-filter [placeholder]="'Búsqueda de país'" [displayMember]="'cIntDescripcion'" [array]="lstserv.lpaisNac" (filteredReturn)="lstserv.filterpais =$event" class="font-comp"></mat-select-filter>
        <mat-option *ngFor="let item of lstserv.filterpais" [value]="item.nIntCodigo" (click)="universidadOnChange(item)" class="font-comp">
          {{item.cIntDescripcion.toUpperCase()}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  class="example-full-width float-left col-12" >
      <mat-label class="font-comp">Institución</mat-label>
      <input (ngModelChange)="handleModelChange($event, 1)" name="institucion"   type="text" [matAutocomplete]="auto" matInput [formControl]="myControl" class="font-comp"  appLetras>
      <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let option of filteredOptions | async"  [value]="option.cPerNombre.toUpperCase()" (click)="customerOnChange(option, 1)" [displayWith]="displayFn"  class="font-comp">
          {{option.cPerNombre.toUpperCase()}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field *ngIf="regGradoTitulo.cLegGraInstitucion == clmdserv.codigonoinst" class="example-full-width" class="col-12 float-left">
      <mat-label class="font-comp">Nombre de institución</mat-label>
      <input matInput name="otra" maxlength="100" value="" class="col-l font-comp" formControlName="otraControl" required >
    </mat-form-field>

    <mat-form-field class="col-12 float-left" appearance="fill">
      <mat-label class="font-comp">Grado académico</mat-label>
      <mat-select name="gradoacademico_for" class="font-comp" formControlName="gradoControl" >
        <!-- <mat-option [value]="0"> Seleccione...</mat-option> -->
        <mat-option *ngFor="let option of lstGradoAcademico" [value]="option.nIntCodigo" (click)="customerOnChange(option, 2)">
          {{ option.cIntDescripcion.toUpperCase() }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" class="col-12 float-left">
      <mat-label class="font-comp">Mención en:</mat-label>
      <input matInput name="carrera" maxlength="50" value="" class="col-l font-comp" formControlName="carreraControl" required  appLetras>
    </mat-form-field>
    <mat-form-field appearance="fill" class="col-12 float-left">
      <mat-label class="font-comp">Fecha Obtención</mat-label>
      <!-- [min]="datepast" -->
      <input class="font-comp col-12" matInput [matDatepicker]="dpF"  [formControl]="dateFechObt"   [max]="today" readonly />
      <mat-datepicker-toggle matSuffix [for]="dpF"></mat-datepicker-toggle>
      <mat-datepicker #dpF disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-12 float-left subir-2" appearance="standard">
      <mat-label>Adjuntar archivo(png, jpg, jpeg, pdf)</mat-label>
      <ngx-mat-file-input class="file-input" placeholder="Adjuntar archivo(png, jpg, jpeg, pdf)" (change)="fileProgress($event)" [accept]="'image/png, image/jpeg, application/pdf'" id="fileadj"></ngx-mat-file-input>
      <mat-icon matSuffix>insert_photo</mat-icon>
      <small *ngIf="erradjunto"  id="adjuntoHelp" class="form-text text-muted msj-chk small-msj" ><i class="far fa-check-circle"></i> Se cargó imágen.</small>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="apbtn col-12 float-left">
  <button class="btn btn-sm btn-primary btn-uq" mat-button (click)="guardarformacion($event)" >Aceptar</button>
  <button class="btn btn-sm btn-default btn-uq" mat-button (click)="lstserv.listar_gradotitulo(data.id);configserv.onNoClickDialog(dialogRef)">Cancelar</button>
  <!-- cdkFocusInitial ->FOCUS -->
</div>
<app-mensaje></app-mensaje> <ngx-spinner></ngx-spinner>


