<app-header></app-header>
<mat-drawer-container class="example-container" autosize>
  <div class="example-sidenav-content">
    <app-titlemodule class="divtitle" [title] = title [route] = route></app-titlemodule>
    <div class="container-fluid float-left col-12 col-qpad divtop">
      <app-button  [banctrl]="[true,true, true, false, true, true]" [opcion]=1 [modulo]="modulo"></app-button>
    </div>
    <div class="container-fluid float-left div-table">
      <div *ngIf="ctrlserv._banregister">
        <mat-tab-group dynamicHeight #tabGroup (selectedTabChange)="tabChanged($event)">
          <mat-tab label="Curriculum Vitae">
            <div class="example-small-box mat-elevation-z4" style="margin-top: 15px;">
              <div class="col-lg-3 col-md-4  col-12 float-left fieldphoto">
                <img class="imgphotocv"  [src]="previewUrl">
              

              </div>
              <div class="col-lg-9 col-md-8 col-12 float-left">
                <mat-vertical-stepper [linear]="isLinear" #stepper>

                  <!-- VII.	REGISTRO COMO DOCENTE INVESTIGADOR  -->
                  <mat-step [stepControl]="FormGroup8">
                    <form enctype="multipart/form-data">
                      <ng-template matStepLabel>Registro como docente investigador - <span class="span-mat-step">{{ lstserv.linvestigador.length }} registro(s)</span></ng-template>
                      <div *ngIf="configserv.nTareaValidar != bValidar" class="col-12 float-left divform apbtn">
                        <button class="btn btn-sm btn-primary btn-uqx"   (click)="nuevo_investigador(clmdserv.empty_investigador())"><i class="fa fa-graduation-cap" ></i> Agregar</button>
                      </div>
                      <div class="col-12 float-left div-table">
                        <table class="table table-fixed font-comp table-style">
                          <thead>
                          <tr>
                            <th scope="col" class="col-50 col-l"></th>
                            <th scope="col" class="namemd col-l">REGISTRADO EN</th>
                            <th class="col-l col-w" scope="col">N° REGISTRO</th>
                            <th class="col-r col-w" scope="col">FECHA INICIO</th>
                            <th class="col-r col-w" scope="col">FECHA FIN</th>
                            <th class="col-c col-w" scope="col">ADJ ARCHIVO</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let regist of lstserv.linvestigador">

                               <th scope="row" class="col-c">
                                 <a *ngIf="!regist.cLegInvValida && regLegDatosGenerales.nLegDatCodigo > 0 && (configserv.nTareaValidar != bValidar)"  class="btn btn-sm btn-primary" matTooltip="Editar registro" (click)="nuevo_investigador(regist)"><i class="fa fa-edit"></i></a>&nbsp;
                                 <a *ngIf="!regist.cLegInvValida && (configserv.nTareaValidar == bValidar)"class="btn btn-sm btn-default" matTooltip="Validar registro" (click)="eliminar_validar_investigador(regist, false)"><i class="fa fa-check"></i></a>&nbsp;
                                 <a *ngIf="!regist.cLegInvValida"  class="btn btn-sm btn-danger" matTooltip="Eliminar registro" (click)="eliminar_validar_investigador(regist, true)"><i class="fa fa-times"></i></a>
                                 <a *ngIf="regist.cLegInvValida" class="btn btn-sm btn-primary" matTooltip="Registro validado"><i class="fa fa-check"></i></a>
                               </th>
                               <td class="col-l">{{ regist.vCentroRegistro.cIntDescripcion.toUpperCase()}}</td>
                               <td class="col-l">{{ regist.cLegInvNroRegistro.toUpperCase()}}</td>
                               <td class="col-r">{{ regist.dLegInvFechaInicio| date:'dd-MM-yyyy'}}</td>
                               <td class="col-r">{{ regist.dLegInvFechaFin| date:'dd-MM-yyyy'}}</td>
                               <td class="col-c" *ngIf="regist.cUsuRegistro!='pdf'"> <img *ngIf="regist.nLegInvCodigo > 0" class="imgphotofor" [src]="regist.cLegInvArchivo  | secure | async" (click)="mdlserv.nuevoModalPrevImage(regist.cLegInvArchivo)"><img *ngIf="regist.nLegInvCodigo == 0" class="imgphotofor" [src]="regist.cFile | secure | async" (click)="mdlserv.nuevoModalPrevImage(regist.cFile)"></td>
                               <td class="col-c" *ngIf="regist.cUsuRegistro=='pdf'"><img class="imgphotofor" src="assets/images/pdf-logo.png" (click)="mdlserv.openpdf(regist.cLegInvArchivo)"></td>
                             </tr>
                             <tr *ngIf="lstserv.linvestigador.length == 0"  class="col-c cel-ie">
                               <td colspan="6">No se ha registrado investigaciones.</td>
                             </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-12 float-left divform apbtn">
                        <button matStepperPrevious class="btn btn-sm btn-default btn-uq">Atrás</button>
                        <button matStepperNext class="btn btn-sm btn-primary btn-uq">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>

                  <!-- VIII.	ASESORÍA Y JURADO DE TESIS  -->
                  <mat-step [stepControl]="FormGroup9">
                    <form enctype="multipart/form-data">
                      <ng-template matStepLabel>Asesoría y jurado de tesis - <span class="span-mat-step">{{ lstserv.lTesisAsesJur.length }} registro(s)</span></ng-template>
                      <div *ngIf="configserv.nTareaValidar != bValidar" class="col-12 float-left divform apbtn">
                        <button class="btn btn-sm btn-primary btn-uqx"   (click)="nuevo_asejurtesis(clmdserv.empty_tesisasesjur())"><i class="fa fa-graduation-cap" ></i> Agregar</button>
                      </div>
                      <div class="col-12 float-left div-table">
                        <table class="table table-fixed font-comp table-style">
                          <thead>
                          <tr>
                            <th scope="col" class="col-50 col-l"></th>
                            <th scope="col" class="namemd col-l">TIPO</th>
                            <th class="col-l col-w" scope="col">NIVEL</th>
                            <th class="col-l col-w" scope="col">FECHA</th>
                            <th class="col-r col-w" scope="col">N° RESOLUCIÓN</th>
                            <th class="col-c col-w" scope="col">ADJ ARCHIVO</th>
                          </tr>
                          </thead>


                          <tbody>
                            <tr *ngFor="let regist of lstserv.lTesisAsesJur">

                               <th scope="row" class="col-c">
                                 <a *ngIf="!regist.cLegTesValida && regLegDatosGenerales.nLegDatCodigo > 0 && (configserv.nTareaValidar != bValidar)" class="btn btn-sm btn-primary" matTooltip="Editar registro" (click)="nuevo_asejurtesis(regist)"><i class="fa fa-edit"></i></a>&nbsp;
                                 <a *ngIf="!regist.cLegTesValida && (configserv.nTareaValidar == bValidar)"class="btn btn-sm btn-default" matTooltip="Validar registro" (click)="eliminar_validar_asejurtesis(regist, false)"><i class="fa fa-check"></i></a>&nbsp;
                                 <a *ngIf="!regist.cLegTesValida" class="btn btn-sm btn-danger" matTooltip="Eliminar registro" (click)="eliminar_validar_asejurtesis(regist, true)"><i class="fa fa-times"></i></a>
                                 <a *ngIf="regist.cLegTesValida" class="btn btn-sm btn-primary" matTooltip="Registro validado"><i class="fa fa-check"></i></a>
                               </th>
                               <td class="col-l">{{ regist.vTipo.cIntDescripcion.toUpperCase()}}</td>
                               <td class="col-l">{{ regist.vNivel.cConDescripcion.toUpperCase()}}</td>
                               <td class="col-r">{{ regist.dLegTesFecha| date:'dd-MM-yyyy'}}</td>
                               <td class="col-r">{{ regist.cLegTesNroResolucion.toUpperCase() }}</td>
                               <td class="col-c" *ngIf="regist.cUsuRegistro!='pdf'"> <img *ngIf="regist.nLegTesCodigo > 0" class="imgphotofor" [src]="regist.cLegTesArchivo  | secure | async" (click)="mdlserv.nuevoModalPrevImage(regist.cLegTesArchivo)"><img *ngIf="regist.nLegTesCodigo == 0" class="imgphotofor" [src]="regist.cFile | secure | async" (click)="mdlserv.nuevoModalPrevImage(regist.cFile)"></td>
                               <td class="col-c" *ngIf="regist.cUsuRegistro=='pdf'"><img class="imgphotofor" src="assets/images/pdf-logo.png" (click)="mdlserv.openpdf(regist.cLegTesArchivo)"></td>
                             </tr>
                             <tr *ngIf="lstserv.lTesisAsesJur.length == 0"  class="col-c cel-ie">
                               <td colspan="6">No se ha registrado asesoramiento de tesis.</td>
                             </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-12 float-left divform apbtn">
                        <button matStepperPrevious class="btn btn-sm btn-default btn-uq">Atrás</button>
                        <button matStepperNext class="btn btn-sm btn-primary btn-uq">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>

                  <!-- IX.	PRODUCCIÓN CIENTÍFICA, LECTIVA Y DE INVESTIGACIÓN. -->
                  <mat-step [stepControl]="FormGroup10">
                    <form enctype="multipart/form-data">
                      <ng-template matStepLabel>Producción científica, lectiva y de investigación - <span class="span-mat-step">{{ lstserv.lProduccionCiencia.length }} registro(s)</span></ng-template>
                      <div *ngIf="configserv.nTareaValidar != bValidar" class="col-12 float-left divform apbtn">
                        <button class="btn btn-sm btn-primary btn-uqx"   (click)="nuevo_produccionciencia(clmdserv.empty_produccionciencia())"><i class="fa fa-graduation-cap" ></i> Agregar</button>
                      </div>
                      <div class="col-12 float-left div-table">
                        <table class="table table-fixed font-comp table-style">
                          <thead>
                            <tr>
                              <th scope="col" class="col-50 col-l"></th>
                              <th scope="col" class="namemd col-l">TITULO</th>
                              <th class="col-r col-w" scope="col">FECHA</th>
                              <th class="col-l col-w" scope="col">TIPO PUBLICACIÓN</th>
                              <th class="col-r col-w" scope="col">N° REGISTRO/RESOLUCIÓN</th>
                              <th class="col-c col-w" scope="col">ADJ ARCHIVO</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let regist of lstserv.lProduccionCiencia">

                               <th scope="row" class="col-c">
                                 <a *ngIf="!regist.cLegProdValida && regLegDatosGenerales.nLegDatCodigo > 0 && (configserv.nTareaValidar != bValidar)" class="btn btn-sm btn-primary" matTooltip="Editar registro" (click)="nuevo_produccionciencia(regist)"><i class="fa fa-edit"></i></a>&nbsp;
                                 <a *ngIf="!regist.cLegProdValida && (configserv.nTareaValidar == bValidar)"class="btn btn-sm btn-default" matTooltip="Validar registro" (click)="eliminar_validar_produccionciencia(regist, false)"><i class="fa fa-check"></i></a>&nbsp;
                                 <a *ngIf="!regist.cLegProdValida" class="btn btn-sm btn-danger" matTooltip="Eliminar registro" (click)="eliminar_validar_produccionciencia(regist, true)"><i class="fa fa-times"></i></a>
                                 <a *ngIf="regist.cLegProdValida" class="btn btn-sm btn-primary" matTooltip="Registro validado"><i class="fa fa-check"></i></a>
                                </th>
                               <td class="col-l">{{ regist.cLegProdTitulo.toUpperCase()}}</td>
                               <td class="col-r">{{ regist.dLegProdFecha| date:'dd-MM-yyyy'}}</td>
                               <td class="col-l">{{ regist.vTipo.cIntDescripcion.toUpperCase()}}</td>
                               <td class="col-r">{{ regist.cLegProdNroResolucion.toUpperCase() }}</td>
                               <td class="col-c" *ngIf="regist.cUsuRegistro!='pdf'"> <img *ngIf="regist.nLegProdCodigo > 0" class="imgphotofor" [src]="regist.cLegProdArchivo  | secure | async" (click)="mdlserv.nuevoModalPrevImage(regist.cLegProdArchivo)"><img *ngIf="regist.nLegProdCodigo == 0" class="imgphotofor" [src]="regist.cFile | secure | async" (click)="mdlserv.nuevoModalPrevImage(regist.cFile)"></td>
                               <td class="col-c" *ngIf="regist.cUsuRegistro=='pdf'"><img class="imgphotofor" src="assets/images/pdf-logo.png" (click)="mdlserv.openpdf(regist.cLegProdArchivo)"></td>
                             </tr>
                             <tr *ngIf="lstserv.lProduccionCiencia.length == 0"  class="col-c cel-ie">
                               <td colspan="6">No se ha registrado producción científica.</td>
                             </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-12 float-left divform apbtn">
                        <button matStepperPrevious class="btn btn-sm btn-default btn-uq">Atrás</button>
                        <button matStepperNext class="btn btn-sm btn-primary btn-uq">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>
                  <!-- IX.	LÍDER DE GRUPO DE INVESTIGACIÓN O SEMILLEROS . -->
                  <mat-step [stepControl]="FormGroup17">
                    <form enctype="multipart/form-data">
                      <ng-template matStepLabel>Líder de grupo de investigación o semilleros  - <span class="span-mat-step">{{ lstserv.lGrupoInvestigacion.length }} registro(s)</span></ng-template>
                      <!-- <div *ngIf="configserv.nTareaValidar != bValidar" class="col-12 float-left divform apbtn"> -->
                      <div class="col-12 float-left divform apbtn">
                        <button class="btn btn-sm btn-primary btn-uqx"   (click)="nuevo_GrupoInvestigacion(clmdserv.empty_GrupoInvestigacion())"><i class="fa fa-graduation-cap" ></i> Agregar</button>
                      </div>
                      <div class="col-12 float-left div-table">
                        <table class="table table-fixed font-comp table-style">
                          <thead>
                            <tr>
                              <th scope="col" class="col-50 col-l"></th>
                              <th class="col-l col-w" scope="col">PERIODO</th>
                              <th class="col-l col-w" scope="col">LÍNEA</th>
                              <th class="col-l col-w" scope="col">TIPO DE INVESTIGADOR</th>
                              <th class="col-l col-w" scope="col">TÍTULO</th>
                              <th class="col-l col-w" scope="col">ADJ ARCHIVO</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let regist of lstserv.lGrupoInvestigacion">

                               <th scope="row" class="col-c">
                                 <!-- <a *ngIf="!regist.cLegProdValida && regLegDatosGenerales.nLegDatCodigo > 0 && (configserv.nTareaValidar != bValidar)" class="btn btn-sm btn-primary" matTooltip="Editar registro" (click)="nuevo_produccionciencia(regist)"><i class="fa fa-edit"></i></a>&nbsp; -->
                                 <!-- <a *ngIf="!regist.cLegProdValida && (configserv.nTareaValidar == bValidar)"class="btn btn-sm btn-default" matTooltip="Validar registro" (click)="eliminar_validar_produccionciencia(regist, false)"><i class="fa fa-check"></i></a>&nbsp; -->
                                 <a class="btn btn-sm btn-danger" matTooltip="Eliminar registro" (click)="eliminar_grup_inv(regist, true)"><i class="fa fa-times"></i></a>
                                 <!-- <a *ngIf="regist.cLegProdValida" class="btn btn-sm btn-primary" matTooltip="Registro validado"><i class="fa fa-check"></i></a> --> 
                               </th>
                               <td>{{regist.cPrdDescripcion}}</td>
                               <td>{{regist.nLegLidGrupInvSemDescription}}</td>
                               <td>{{regist.nTipoLegLidGrupInvSemDescription}}</td>
                               <td>{{regist.nLegLidGrupInvSemTitulo}}</td>
                               <!-- <td class="col-c" *ngIf="regist.extension!='pdf'"> <img *ngIf="regist.nLegProdCodigo > 0" class="imgphotofor" [src]="regist.nLegLidGrupInvSemArchivo  | secure | async" (click)="mdlserv.nuevoModalPrevImage(regist.nLegLidGrupInvSemArchivo)"><img *ngIf="regist.nLegProdCodigo == 0" class="imgphotofor" [src]="regist.cFile | secure | async" (click)="mdlserv.nuevoModalPrevImage(regist.cFile)"></td> -->
                               <td class="col-c" *ngIf="regist.extension=='pdf'"><img class="imgphotofor" src="assets/images/pdf-logo.png" (click)="mdlserv.openpdf(regist.nLegLidGrupInvSemArchivo)"></td>
                               <!-- <td class="col-l">{{ regist.cLegProdTitulo.toUpperCase()}}</td>
                               <td class="col-r">{{ regist.dLegProdFecha| date:'dd-MM-yyyy'}}</td>
                               <td class="col-l">{{ regist.vTipo.cIntDescripcion.toUpperCase()}}</td>
                               <td class="col-r">{{ regist.cLegProdNroResolucion.toUpperCase() }}</td>
                               <td class="col-c" *ngIf="regist.cUsuRegistro!='pdf'"> <img *ngIf="regist.nLegProdCodigo > 0" class="imgphotofor" [src]="regist.cLegProdArchivo  | secure | async" (click)="mdlserv.nuevoModalPrevImage(regist.cLegProdArchivo)"><img *ngIf="regist.nLegProdCodigo == 0" class="imgphotofor" [src]="regist.cFile | secure | async" (click)="mdlserv.nuevoModalPrevImage(regist.cFile)"></td>
                               <td class="col-c" *ngIf="regist.cUsuRegistro=='pdf'"><img class="imgphotofor" src="assets/images/pdf-logo.png" (click)="mdlserv.openpdf(regist.cLegProdArchivo)"></td> -->
                             </tr>
                             <tr *ngIf="lstserv.lProduccionCiencia.length == 0"  class="col-c cel-ie">
                               <td colspan="6">No se ha registrado producción científica.</td>
                             </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-12 float-left divform apbtn">
                        <button matStepperPrevious class="btn btn-sm btn-default btn-uq">Atrás</button>
                        <button matStepperNext class="btn btn-sm btn-primary btn-uq">Siguiente</button>
                      </div>
                    </form>
                  </mat-step>




                  <mat-step *ngIf="configserv.nTareaValidar != bValidar">
                    <form [formGroup]="EndFormGroup">
                      <ng-template matStepLabel>Finalizar</ng-template>
                     
                      <div class="col-12 float-left divform apbtn">
                        <button matStepperPrevious class="btn btn-sm btn-default btn-uq">Atrás</button>
                        <button class="btn btn-sm btn-primary btn-uq" (click)="guardarcv()">Guardar</button>
                        <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                      </div>
                    </form>
                  </mat-step>
                </mat-vertical-stepper>

              </div>
            </div>
          </mat-tab>
        

        </mat-tab-group>

      </div>

      <table *ngIf="!ctrlserv._banregister  && this.codigoArea == 1" class="table table-fixed font-comp table-style">
        <thead>
        <tr>
          <th scope="col" class="col-50 col-l"></th>
          <th scope="col" class="namemd col-l">COLABORADOR</th>
          <th class="col-l col-50" scope="col">TIPO DOC</th>
          <th class="col-l col-50" scope="col">NRO DOC</th>
          <th class="col-l col-50" scope="col">TIPO </th>
          <th class="col-l col-50" scope="col">CARGO</th>
          <th class="col-l col-50" scope="col">EMAIL</th>
          <th class="col-l col-50" scope="col">¿DATOS LEGAJO?</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let regist of pageService.dataSource">

          <th scope="row" class="col-l">
            <div ngbDropdown container="body">
              <button class="btn btn-outline-default btn-sm" ngbDropdownToggle>Acciones</button>
              <div ngbDropdownMenu class="item-action">
                <li *ngFor="let item of lstserv.lTareasPermiso; let i = index">
                  <div *ngIf="item.nTarModCodigo==3 || item.nTarModCodigo == 4 || item.nTarModCodigo == 11" class="dropdown-divider"></div>
                  <button  ngbDropdownItem (click)="acciones(item.nTarModCodigo, regist)">{{ item.cTarModDescripcion }}</button>
              </li>
              </div>
            </div>
          </th>
          <td  class="namemd col-l">
            {{ regist.cPerApellido }}, {{ regist.cPerNombre }}
          </td>
          <td class="col-l col-50">{{ regist.cPerTipoDoc.toUpperCase() }}</td>
          <td class="col-l col-50">{{ regist.cPerNroDoc }}</td>
          <td class="col-l">{{ regist.cTipoDesc.toUpperCase() }}</td>
          <td class="col-l">{{ regist.cCargo.toUpperCase() }}</td>
          <td class="col-l col-50">{{ regist.cPerEmail }}</td>
          <td class="col-c">{{ regist.bLegajo ? 'SI' : 'NO' }}</td>
        </tr>
        <tr *ngIf="pageService.dataSource.length == 0" class="col-c cel-ie">
          <td colspan="8">No existen registros de colaboradores.</td>
        </tr>
        </tbody>
      </table>

      <table *ngIf="!ctrlserv._banregister  && this.codigoArea == 13" class="table table-fixed font-comp table-style">
        <thead>
        <tr>
          <th scope="col" class="col-50 col-l"></th>
          <th scope="col" class="col-50 col-l">COLABORADOR</th>
          <th class="col-l col-50" scope="col">TIPO DOC</th>
          <th class="col-l col-50" scope="col">NRO DOC</th>
          <th class="col-l col-50" scope="col">TIPO </th>
          <th class="col-l col-50" scope="col">CARGO</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let regist of pageService.dataSource">

          <th scope="row" class="col-l">
            <div ngbDropdown container="body">
              <button class="btn btn-outline-default btn-sm" ngbDropdownToggle>Acciones</button>
              <div ngbDropdownMenu class="item-action">
                <li *ngFor="let item of lstserv.lTareasPermiso; let i = index">
                  <div *ngIf="item.nTarModCodigo==3 || item.nTarModCodigo == 4 || item.nTarModCodigo == 11" class="dropdown-divider"></div>
                  <button  ngbDropdownItem (click)="acciones(item.nTarModCodigo, regist)">{{ item.cTarModDescripcion }}</button>
              </li>
              </div>
            </div>
          </th>
          <td  class="namemd col-l">
            {{ regist.cPerApellido }}, {{ regist.cPerNombre }}
          </td>
          <td class="col-l">{{ regist.cPerTipoDoc.toUpperCase() }}</td>
          <td class="col-l">{{ regist.cPerNroDoc }}</td>
          <td class="col-l">{{ regist.cTipoDesc.toUpperCase() }}</td>
          <td class="col-l">{{ regist.cCargo.toUpperCase() }}</td>
        </tr>
        <tr *ngIf="pageService.dataSource.length == 0" class="col-c cel-ie">
          <td colspan="6">No existen registros de colaboradores.</td>
        </tr>
        </tbody>
      </table>


    </div>
    <div *ngIf="pageService.dataSource.length > 0 && !ctrlserv._banregister" class="container-fluid d-flex justify-content-between p-2">

      <mat-paginator [length]="pageService.collectionSize" (page)="pageService.actualizaTabla2(pageService.dataglobal, $event);"
            [pageSize]="pageService.pageSize"
            [pageSizeOptions]="pageService.pageSizeOptions">
      </mat-paginator>


    </div>
  </div>
  <ngx-spinner></ngx-spinner>
  <mat-drawer #drawer class="example-sidenav" >

    <app-menu></app-menu>
  </mat-drawer>
</mat-drawer-container>

