<h2 mat-dialog-title class="title">{{data.title}}</h2>
<div mat-dialog-content>
  <form [formGroup]="FormGroup" class="example-form col-12 float-left" enctype="multipart/form-data">
    <mat-form-field class="example-full-width float-left col-12 font-comp">
      <mat-select placeholder="Seleccione cargo" formControlName="cargoControl" cdkFocusInitial>
        <mat-select-filter [placeholder]="'Búsqueda de cargo'" [displayMember]="'cIntDescripcion'" [array]="lstserv.lCargoCont" (filteredReturn)="lstserv.filtercargo =$event" class="font-comp"></mat-select-filter>
        <mat-option *ngFor="let item of lstserv.filtercargo" [value]="item.nIntCodigo" (click)="customerOnChange(item, 1)" class="font-comp">
          {{item.cIntDescripcion.toUpperCase()}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width float-left col-12 font-comp">
      <mat-select placeholder="Seleccione área" formControlName="areaControl" cdkFocusInitial>
        <mat-select-filter [placeholder]="'Búsqueda de área'" [displayMember]="'cIntDescripcion'" [array]="lstserv.lAreaCont" (filteredReturn)="lstserv.filterarea =$event" class="font-comp"></mat-select-filter>
        <mat-option *ngFor="let item of lstserv.filterarea" [value]="item.nIntCodigo" (click)="customerOnChange(item, 2)" class="font-comp">
          {{item.cIntDescripcion.toUpperCase()}}
        </mat-option>
      </mat-select>
    </mat-form-field>
      <!-- <mat-form-field class="col-12 float-left" appearance="fill">
        <mat-label class="font-comp">Cargo</mat-label>
        <mat-select name="cargo_for" class="font-comp" formControlName="cargoControl" >
          <mat-option [value]="0" (click)="customerOnChange(null, 1)"> Seleccione...</mat-option>
          <mat-option *ngFor="let option of lstserv.lCargoCont" [value]="option.nIntCodigo" (click)="customerOnChange(option, 1)">
            {{ option.cIntDescripcion.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-12 float-left" appearance="fill">
        <mat-label class="font-comp">Área</mat-label>
        <mat-select name="area_for" class="font-comp" formControlName="areaControl" >
          <mat-option [value]="0" (click)="customerOnChange(null, 2)"> Seleccione...</mat-option>
          <mat-option *ngFor="let option of lstserv.lAreaCont" [value]="option.nIntCodigo" (click)="customerOnChange(option, 2)">
            {{ option.cIntDescripcion.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field appearance="fill" class="col-12 float-left">
        <mat-label class="font-comp">Fecha Inicio</mat-label>
        <!-- [min]="datepast" -->
        <input class="font-comp col-12" matInput [matDatepicker]="dpFechaI"  [formControl]="dateFechaInicio"   [max]="today" readonly />
        <mat-datepicker-toggle matSuffix [for]="dpFechaI"></mat-datepicker-toggle>
        <mat-datepicker #dpFechaI disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-12 float-left">
        <mat-label class="font-comp">Fecha Fin</mat-label>
        <!-- [min]="datepast" -->
        <input class="font-comp col-12" matInput [matDatepicker]="dpFechaF"  [formControl]="dateFechaFin"   readonly />
        <mat-datepicker-toggle matSuffix [for]="dpFechaF"></mat-datepicker-toggle>
        <mat-datepicker #dpFechaF disabled="false"></mat-datepicker>
      </mat-form-field>

       <mat-form-field class="example-full-width" class="col-12 float-left">
        <mat-label class="font-comp comentinp">Sueldo</mat-label>
        <input matInput name="cargoprof" maxlength="10" value="" class="col-l font-comp" formControlName="sueldoControl" required appDecimales />
      </mat-form-field>
    <mat-form-field class="col-12 float-left subir-2" appearance="standard">
      <mat-label>Adjuntar contrato(formato PDF)</mat-label>
      <ngx-mat-file-input class="file-input"  placeholder="Adjuntar contrato(formato PDF)" (change)="fileProgress($event)" [accept]="'application/pdf'"></ngx-mat-file-input>
      <mat-icon matSuffix>file_present</mat-icon>
      <small *ngIf="erradjunto"  id="adjuntoHelp" class="form-text text-muted msj-chk small-msj" ><i class="far fa-check-circle"></i> Se cargó contrato.</small>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="apbtn col-12 float-left">
  <button class="btn btn-sm btn-primary btn-uq" mat-button (click)="guardar($event)" >Aceptar</button>
  <button class="btn btn-sm btn-default btn-uq" mat-button (click)="configserv.onNoClickDialog(dialogRef)">Cancelar</button>
  <!-- cdkFocusInitial ->FOCUS -->
</div>
<app-mensaje></app-mensaje> <ngx-spinner></ngx-spinner>
