.mat-list-base
  .mat-list-item
    height: 32px !important
    background-color: #def1b2 !important
    font-size: 0.95em
.mat-list-base
  .mat-list-option
    height: 32px !important
    background-color: #def1b2 !important
    font-size: 0.95em
.secc-lst
    background: #444444 !important
    color: #FFFFFF !important
    text-transform: uppercase
    margin-bottom: 0px
    text-align: center
    padding: 5px
