mat-panel-title
  color: #000 !important
mat-expansion-panel
  p
    padding:  0 15px
  padding-bottom: 15px !important
mat-expansion-panel-header
  background-color: #97d700  !important
  color: #FFFFFF !important
  margin-bottom: 15px !important
